<div class="card">
  <div class="card-body text-center">
    <h5 class="card-title">Agendarme</h5>
    <form [formGroup]="reservaFormGroup" (submit)="onSubmit();" *ngIf="periodos.length!==0" >

      <div class="form-group">
        <label for="ci">Cedula de Identidad</label>
        <input type="text" id="ci" formControlName="ci" name="ci" required minlength="4">
      </div>
      <div class="form-group">
        <label for="fechaAgenda">Fecha</label>
        <input type="text" id="fechaAgenda" formControlName="fechaAgenda" name="fechaAgenda" required>
      </div>
      <div class="form-group">
        <label for="periodo">Periodo</label>
        <select id="periodo" formControlName="periodo" name="periodo" required>
          <option *ngFor="let periodo of periodos" value="{{periodo.fch_Inicio}}/{{periodo.fch_Fin}}" >{{periodo.fch_Inicio}}/{{periodo.fch_Fin}} </option>

        </select>
      </div>
      <button class="btn-primary btn " type="submit" [disabled]="!reservaFormGroup" >Agendarme</button>

    </form>
  </div>
</div>
