<div class="fondo">
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Reservar agenda</h4>
        </div>
        <div class="card-body">
          <div class="step-container mb-4">
            <div class="step col" [class.active]="currentStep === 1">
              Seleccionar periodo
            </div>
            <div class="step col" [class.active]="currentStep === 2">
              Seleccionar dia
            </div>
            <div class="step col" [class.active]="currentStep === 3">
              Seleccionar turno
            </div>
            <div class="step col" [class.active]="currentStep === 4">
              Finalizar
            </div>
          </div>
            <div class="step-content">
              <!--Seleccionar periodo -->
              <ng-container *ngIf="currentStep === 1">
                <div class="stepper-content-hold">
                  <div class="form-group">
                    <label for="periodo">Periodo</label>
                    <select id="periodo" [(ngModel)]="periodo" name="periodo" required>
                      <option *ngFor="let periodo of this.periodos" [disabled]="!periodo.estaAbierto()" [ngValue]="periodo" >
                        {{ periodo.getFechaLinda(1)}}/{{periodo.getFechaLinda(2)}}
                      </option>
                    </select>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="currentStep === 2">
                <!--Seleccionar Dia -->
                <div class="stepper-content-hold">
                  <label for="selectedDate">Seleccione un día:</label>
                  <input type="date" id="selectedDate"
                         [(ngModel)]="selectedDate"
                         [min]="periodo.fch_Inicio.toISOString().split('T')[0]" [max]="periodo.fch_Fin.toISOString().split('T')[0]" >
                </div>
              </ng-container>

              <ng-container *ngIf="currentStep === 3">
                <!--Seleccionar turno -->
                <div class="stepper-content-hold">
                  <label for="turno">Numero de Agenda:</label>
                  <select id="turno" [(ngModel)]="turno">
                    <option *ngFor="let t of this.turnos"   [ngValue]="t" [disabled]="t.estaReservado" >
                      Numero: {{t.numero}} Horario: {{getHora(t.fecha_Agenda)}}
                    </option>
                  </select>
                </div>
              </ng-container>
              <ng-container *ngIf="currentStep === 4">
                <div>
                  <h5>Numero : {{turno.numero}}</h5>
                  <h5>Cedula : {{getCI()}}</h5>
                  <h5>Periodo : {{getFechita(periodo.fch_Inicio)}}</h5>
                  <h5>Fecha : {{getFechita(turno.fecha_Agenda)}}</h5>
                  <h5>Hora : {{getHora(turno.fecha_Agenda)}}</h5>
                </div>
                <button class="btn btn-success" (click)="onSubmit()">
                  Confirmar Agenda:
                </button>
              </ng-container>
              <div *ngIf="correcto">
                <span class="material-symbols-outlined">
                  done
                </span>
                <h3>Agenda reservada con exito</h3>
              </div>

            </div>
        </div>
        <div class="card-footer">
          <div class="navigation-container">
            <button class="btn btn-secondary" (click)="prevStep()" [disabled]="isDisabledPrev()">Anterior</button>
            <button class="btn btn-primary" (click)="nextStep()" [disabled]="isDisabledNext()">Siguiente</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!--
<div class="card" *ngIf="reservaForm">
  <div class="card-body text-center">
    <h5 class="card-title">Agendarme</h5>
    <form [formGroup]="reservaFormGroup" (submit)="onSubmit();" *ngIf="periodos.length!==0" >

      <div class="form-group">
        <label for="ci">Cedula de Identidad</label>
        <input type="text" id="ci" formControlName="ci" name="ci" required minlength="4">
      </div>
      <div class="form-group">
        <label for="fechaAgenda">Fecha</label>
        <input type="text" id="fechaAgenda" formControlName="fechaAgenda" name="fechaAgenda" required>
      </div>
      <div class="form-group">
        <label for="periodo">Periodo</label>
        <select id="periodo" formControlName="periodo" name="periodo" required>
          <option *ngFor="let periodo of periodos" value="{{periodo.fch_Inicio}}/{{periodo.fch_Fin}}" >{{periodo.fch_Inicio}}/{{periodo.fch_Fin}} </option>

        </select>
      </div>
      <button class="btn-primary btn " type="submit" [disabled]="!reservaFormGroup" >Submit</button>
      <button class="btn-secondary btn " (click)="toggleForm('Agendarme')">Cancel</button>

    </form>
  </div>
</div>

-->
