<div class="fondo">
  <div class="card">
    <img [src]="image" class="img card-img-top" alt="carnet">
    <div class="card-body">
      <h5 class="card-title">Datos del Funcionario</h5>
      <p> Nombre :  {{func.nombre}}</p>
      <p> Apellido :  {{func.apellido}}</p>
      <p> Fecha Nacimiento :  {{func.fch_Nac}}</p>
      <p> Ci :  {{func.ci}}</p>
      <p> Email :  {{func.email}}</p>
      <p> Direccion :  {{func.direccion}}</p>
      <p> Telefono :  {{func.telefono}}</p>
    </div>
  </div>
</div>

