<div id="main" class="row  justify-content-center">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Abrir periodo</h1>
                <div class="mb-3 row form-gp">
                    <label class="col-sm-2 col-form-label">Fecha de inicio</label>
                    <div class="col-sm-10">
                      <input type="date"
                             [(ngModel)]="fechainicio"
                             [min]="min"
                             [max]="max"
                             class="form-control" >
                    </div>
                  </div>
                  <div class="mb-3 row form-gp">
                    <label class="col-sm-2 col-form-label">Fecha de fin</label>
                    <div class="col-sm-10">
                      <input type="date"
                             [(ngModel)]="fechafin"
                             [min]="min"
                             [max]="max"
                             class="form-control" >
                    </div>
                  </div>
                  <button class="btn btn-primary" (click)="enviar()">
                    Enviar
                  </button>
        </div>
    </div>
</div>
