<div id="main" class="row justify-content-center">
  <!-- antigua navegacion
    <div id="header" class="col-12">
    -->
         <!-- el app header tenia (toggleFormEvent)="toggleForm($event)" -->
  <!--
        <app-header [isFuncionario]="isFuncionario"  ></app-header>
    </div>
    <div class="col-10" id="container" *ngIf="user!==undefined">
        <h1 id="hello-user" >Bienvenido {{user.nombre}}!</h1>


        <div class="card" *ngIf="reservaForm">
            <div class="card-body text-center">
                <h5 class="card-title">Agendarme</h5>
                <form [formGroup]="reservaFormGroup" (submit)="onSubmit('reserva');" *ngIf="periodos.length!==0" >

                    <div class="form-group">
                        <label for="ci">Cedula de Identidad</label>
                        <input type="text" id="ci" formControlName="ci" name="ci" required minlength="4">
                    </div>
                    <div class="form-group">
                        <label for="fechaAgenda">Fecha</label>
                        <input type="text" id="fechaAgenda" formControlName="fechaAgenda" name="fechaAgenda" required>
                    </div>
                    <div class="form-group">
                        <label for="periodo">Periodo</label>
                        <select id="periodo" formControlName="periodo" name="periodo" required>
                            <option *ngFor="let periodo of periodos" value="{{periodo.fch_Inicio}}/{{periodo.fch_Fin}}" >{{periodo.fch_Inicio}}/{{periodo.fch_Fin}} </option>

                        </select>
                    </div>
                    <button class="btn-primary btn " type="submit" [disabled]="!reservaFormGroup" >Submit</button>
                    <button class="btn-secondary btn " (click)="toggleForm('Agendarme')">Cancel</button>

                </form>
            </div>
        </div>
        <div class="card" *ngIf="carnetForm">
            <div class="card-body text-center">
                <h5 class="card-title">Cargar carnet</h5>
                <form [formGroup]="carnetFormGroup" (submit)="onSubmit('carnet');" >
                    <div class="form-gp">

                        <input type="text" id="ci" placeholder="Cedula" formControlName="ci" name="ci" required>
                    </div>
                    <div class="form-gp">

                        <input type="text" id="fecha_emision" placeholder="Fecha de emision" formControlName="fechaEmision" name="fecha_emision" required>
                    </div>
                    <div class="form-gp">
                        <input type="text" id="fecha_vencimiento" placeholder="Fecha de vencimiento" formControlName="fechaVencimiento" name="fecha_vencimiento" required>
                    </div>
                    <div class="form-gp">
                        <label for="imagen" style="margin-right: 1vw;" >Imagen:</label>
                        <input type="file" id="imagen" formControlName="imagen" name="imagen" required>
                    </div>
                    <button class="btn-primary btn " type="submit" >Submit</button>
                    <button class="btn-secondary btn " (click)="toggleForm('Carnet')" >Cancel</button>

                </form>
            </div>
        </div>
    </div>

       -->

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img class="logo-ucu" src="assets/logo_ucu.svg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="carnetsalud">Carnet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="agendarme">Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="datospersonales">Editar Datos</a>
          </li>
          <li class="nav-item" [hidden]="!isFuncionario">
            <a class="nav-link" routerLink="/hub/admin/periodos">Periodos</a>
          </li>
          <li class="nav-item" [hidden]="!isFuncionario">
            <a class="nav-link" routerLink="/hub/admin/listardesactualizados">Funcionarios Desactualizados</a>
          </li>
        </ul>
        <span class="navbar-text">
          <button class="btn btn-outline-danger" (click)="logout()">
            <span class="material-symbols-outlined">
            logout
            </span>
            Log Out
          </button>
      </span>
      </div>
    </div>
  </nav>

</div>
<router-outlet></router-outlet>
