<div id="main" class="row justify-content-center">
    <div id="header" class="col-12">
        <app-header [isFuncionario]="isFuncionario" (toggleFormEvent)="toggleForm($event)" ></app-header>
    </div>
    <div class="col-10" id="container" *ngIf="user!==undefined">
        <h1 id="hello-user" >Hi {{user.nombre}}!</h1>

        <div class="card" *ngIf="reservaForm">
            <div class="card-body text-center">
                <h5 class="card-title">Agendarme</h5>
                <form [formGroup]="reservaFormGroup" (submit)="onSubmit('reserva');" >

                    <div class="form-group">
                        <label for="ci">Cedula de Identidad</label>
                        <input type="text" id="ci" formControlName="ci" name="ci" required minlength="4">
                    </div>
                    <div class="form-group">
                        <label for="fechaAgenda">Fecha</label>
                        <input type="text" id="fechaAgenda" formControlName="fechaAgenda" name="fechaAgenda" required>
                    </div>
                    <button class="btn-primary btn " type="submit" [disabled]="!reservaFormGroup.valid" >Submit</button>
                    <button class="btn-secondary btn " (click)="toggleForm('Agendarme')">Cancel</button>

                </form>
            </div>
        </div>
        <div class="card" *ngIf="carnetForm">
            <div class="card-body text-center">
                <h5 class="card-title">Cargar carnet</h5>
                <form [formGroup]="carnetFormGroup" (submit)="onSubmit('carnet');" >
                    <div class="form-gp">

                        <input type="text" id="ci" placeholder="Cedula" formControlName="ci" name="ci" required>
                    </div>
                    <div class="form-gp">

                        <input type="text" id="fecha_emision" placeholder="Fecha de emision" formControlName="fechaEmision" name="fecha_emision" required>
                    </div>
                    <div class="form-gp">
                        <input type="text" id="fecha_vencimiento" placeholder="Fecha de vencimiento" formControlName="fechaVencimiento" name="fecha_vencimiento" required>
                    </div>
                    <div class="form-gp">
                        <label for="imagen" style="margin-right: 1vw;" >Imagen:</label>
                        <input type="file" id="imagen" formControlName="imagen" name="imagen" required>
                    </div>
                    <button class="btn-primary btn " type="submit" >Submit</button>
                    <button class="btn-secondary btn " (click)="toggleForm('Carnet')" >Cancel</button>

                </form>  
            </div>
        </div>
    </div>
</div>
